Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
	    RewriteBase /

      RewriteRule ^api/domain-check$ /domain-check-api/index.php [L,QSA]
	      RewriteRule ^api/domain-check/$ /domain-check-api/index.php [L,QSA]
	       RewriteRule ^api/order$ /api-order/index.php [L,QSA]
		    RewriteRule ^api/order/$ /api-order/index.php [L,QSA]

       RewriteCond %{REQUEST_FILENAME} -f [OR]
	       RewriteCond %{REQUEST_FILENAME} -d
		    RewriteRule ^ - [L]

       RewriteRule ^ /index.html [L]
	   </IfModule>